{% extends 'fitness_club/layout_anonimus.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Home</h1>
        {% if groups %}
            {% for el in groups %}
                <div class="alert alert-warning">
                    <h3>{{ el.name }}</h3>
                    <p>{{ el.description }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Groups not found</p>
        {% endif %}
        <div class="alert alert-info">
            <h3>Fact about cats:</h3>
            <p>{{ random_fact.text }}</p>
            <p>Source: <a href="{{ random_fact.source }}">{{ random_fact.source }}</a></p>
            <p>Created At: {{ random_fact.createdAt }}</p>
        </div>
    </div>
{% endblock %}