{% extends 'fitness_club/layout.html' %}

{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Our fitness club provides individual or group training plans with or without an instructor.
            You can learn more about them by going to the members tab.
            Also, you can read and select the type of classes on the service tab.</p>
        <button class="btn btn"> Button</button>
    </div>
{% endblock %}