{% extends 'fitness_club/layout_anonimus.html' %}

{% block title %}
    Memberships
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Memberships</h1>
        {% if memberships %}
            {% for el in memberships %}
                <div class="alert alert-warning">
                    <h3>{{ el.name }}</h3>
                    <p>{{ el.description }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Memberships not found</p>
        {% endif %}
    </div>
{% endblock %}