{% extends 'fitness_club/layout.html' %}

{% block title %}
    <h1>Service</h1>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Service</h1>
        <div class="alert alert-info">
            <img src="{{ image_url }}" alt="Such image doesn't exist :(" style="max-width: 500px;">
        </div>
        <div class="alert alert-info">
            <h3>Fact about cats:</h3>
            <p>{{ random_fact.text }}</p>
            <p>Source: <a href="{{ random_fact.source }}">{{ random_fact.source }}</a></p>
            <p>Created At: {{ random_fact.createdAt }}</p>
        </div>
    </div>
{% endblock %}